HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.req

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Secretos y datos locales ###
.env.example
.env
wallet/
efs/
ec2_guias_key.pem
ms-guias-key.pem
Wallet_guiasdb.zip
docs/07-evidencias-documentacion.md
docs/08-pruebas-postman.md
docs/.obsidian/workspace.json
docs/.obsidian/workspace.json
